.level.add-padding {
    padding: 5px;
}

.level-right.has-sub .level-item,
.level-left.has-sub .level-item {
    width: 50%;
}

.level-item.has-sub {
    flex-grow: 2 !important;
    justify-content: space-around;
}

.modal-card-foot .level {
    width: 100%
}

td #show-pesanan-modal:hover {
    text-decoration: underline;
}

td.new {
    background-color: hsla(348, 100%, 61%, 0.25);
}

td.verified {
    background-color: hsla(48, 100%, 67%, 0.25);
}

td.processed {
    background-color: hsla(204, 86%, 53%, 0.25);
}

td.delivered {
    background-color: hsla(141, 71%, 48%, 0.25);
}

@media screen and (max-width: 768px) {
    .level-item.has-sub .level-item:not(:last-child),
    .level-item.has-sub .level-item:not(:last-child) {
        margin-bottom: 0;
    }
}
