/* Global css rules
 * ignore viewport breakpoint size.
 */
body {
    background-color: #ebebeb;
}

.hero {
    background-image: url('../../img/bg/Budidaya-Ayam-Broiler.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#highlight {
    padding-bottom: 15em;
}

div.logo {
    margin-top: calc(-170px / 2);
    margin-bottom: 6em;
}

.big-logo-wrapper {
    display: flex;
}

.big-logo-bg {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 170px;
    padding: 12px;
    border-radius: 999px;
    background-color: #fce80a;
    position: relative;
}

.logo-center {
    height: 100%;
    align-self: center;
}

.hero-logo {
    height: 150px;
    margin-bottom: 15px;
}

div.services {
    background-color: #fce80a;
    display: flex;
}

div.services .column {
    margin: 2em 2em 4em;
    padding: 7px 12px;
}

div.services .title-wrap {
    margin-bottom: 1.5em;
    justify-content: center;
    align-items: center;
    height: 65px;
}

div.services .title-wrap p {
    line-height: 32px;
}

div.services .card-image {
    height: 12em;
    margin-left: auto;
    margin-right: auto;
}

div.services .subtitle {
    font-size: 18px;
}

.after-logo {
    margin: 2em auto;
}

.after-logo > .title {
    margin-bottom: 0.6em;
}

.after-logo > .button {
    margin-bottom: 0.6em;
    box-shadow: 0 2.5px 2px 0px rgba(54,54,54,0.5);
}

.after-logo > .subtitle {
    text-decoration: underline;
    text-decoration-color: #363636;
}

div.visi {
    padding-top: 3em;
    padding-bottom: 3em;
}

/* Breakpoint that used here is followed bulma's breakpoint
 * to avoid miss-display to element
 */

/* Breakpoint for mobile
 */
@media screen and (max-width: 768px) {
    .hero-logo {
        height: 100px;
        margin-top: 45px;
    }

    #highlight {
        padding-top: 5em;
        padding-bottom: 8em;
    }

    .hero-body .title {
        font-size: 1.5em;
    }

    .hero-body .subtitle {
        font-size: 1em;
    }

    div.logo {
        margin-top: calc(-120px / 2);
        margin-bottom: 3em;
    }

    .big-logo-bg {
        height: 120px;
        padding: 7px;
    }

    div.services .card-image {
        height: 10em;
        width: auto;
    }

    div.services .title-wrap {
        margin-bottom: 0.5em;
        height: 30px;
    }

    .visi {
        padding-right: 1.5em;
        padding-left: 1.5em;
    }
}

/* Breakpoint for tablet
 */
@media screen and (min-width: 769px) {

}

/* Breakpoint for desktop
 */
@media screen and (min-width: 1024px) {
}

/* Breakpoint for widescreen
 */
@media screen and (min-width: 1216px) {

}

/* Breakpoint for full-HD
 */
@media screen and (min-width: 1408px) {

}

